.card {
  display: inline-block;
  margin: 2em 3em;
  border: 1px solid black;
  -webkit-box-shadow: 4px 2px 7px 0 rgba(0, 0, 0, 0.8);
  box-shadow: 4px 2px 7px 0 rgba(0, 0, 0, 0.8);
  border-radius: 10px;
}

mat-card {
  width: 20em;
  border-radius: 10px;
}

.rooms-wrapper {
  width: 100vw;
  height: 6em;
  margin-bottom: 3em;
}

.search {
  float: right;
  margin-right: 2em;
}

.add-randomize-btn-group {
  float: left;
  margin-left: 3em;
}

mat-form-field {
  width: 17em;
}

.randomize-btn {
  margin-left: 6em;
}

.randomize-input-group {
  margin-top: 1em;
  margin-left: 9em;
}

.add-fab {
  position: fixed;
  z-index: 1;
}

.mat-card {
  max-width: 20em;
}

h4 {
  margin-top: 1.8em;
  float: left;
}

button {
  margin-top: 1.5em;
  float: right;
}

.edit-delete-btn-group>button {
  margin-top: 0;
}


