table{
  width: 50%;
  margin: 10% auto 0;
}

td{
  padding: 0 !important;
  text-align: center !important;
  width: 10%;
}

th{
  text-align: center !important;
  height: 50px;
  font-size: 20px;
  font-weight: 500;
}

.actions-field{
  width: 15%;
}

.actions-field button{
  margin-right: 5px;
}

.details-button{
  background-color: transparent;
}

.delete-button{
  background-color: transparent;
}

.edit-button{
  background-color: transparent;
}
.delete-button:hover{
  background-color: red;
}

.edit-button:hover{
  background-color: green;
}

mat-toolbar{
  background-color: #03303b;
  height: 70px;
}

.add-product-button{
  background-color: #03303b;
  margin-left: 69.3%;
  margin-top: 10px;
}

.add-product-button:hover{
  background-color: transparent;
  color: black;
}

.search-product{
  font-size: 15px;
  margin-left: 65%;
  width: 100%;
}
