# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Tomislav Zivadinovic\IdeaProjects\CS103-DZ02-Tomislav_Zivadinovic_3948\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
