<p>
  <mat-toolbar>
    <span>Point Of Sale - Crud App</span>
    <mat-form-field class="search-product">
      <mat-label>Search for product...</mat-label>
      <input #inputPar (keyup)="searchProduct(inputPar.value)" matInput type="text">
    </mat-form-field>
  </mat-toolbar>
</p>
<div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Product Name </th>
    <td mat-cell *matCellDef="let product"> {{product.name}} </td>
  </ng-container>

  <ng-container matColumnDef="productType">
    <th mat-header-cell *matHeaderCellDef> Product Type </th>
    <td mat-cell *matCellDef="let product"> {{product.productType.name}} </td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let product"> {{product.price}} </td>
  </ng-container>

  <ng-container matColumnDef="stock">
    <th mat-header-cell *matHeaderCellDef> Stock </th>
    <td mat-cell *matCellDef="let product"> {{product.stock}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let product" class="actions-field">
      <button mat-raised-button color="primary" class="edit-button" (click)="openEditDialog(product)">Edit</button>
      <button mat-raised-button color="primary" class="delete-button" (click)="openDeleteDialog(product.id)">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  <button mat-raised-button color="primary" class="add-product-button" (click)="openAddProductDialog()">Add product</button>
</div>
